<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">We're Here to Help</span>
            <h2 class="cs-title">Get the Care and Equipment You Need—Fast</h2>
            <p class="cs-text">
                Whether you're starting a new therapy or just need to restock essentials, we make it easy. Our team is ready to get you set up as a patient or help you find what you need in our online store.
            </p>
            <div class="cs-button-group">
                <a href="/become-a-patient" class="cs-button-solid">Become a Patient</a>
                <a href="/store" class="cs-button-solid">Shop Our Store</a>
            </div>
        </div>
    </div>
    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/bg.png">
        <source media="(min-width: 601px)" srcset="/assets/images/bg.png">
        <img loading="lazy" decoding="async" src="/assets/images/bg.png" alt="background medical image" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
