/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-509 {
    /* Centers button */
    text-align: left;
    /* 144px - 260px - leaving extra space for the navigation */
    padding: clamp(9rem, 25.95vw, 16.25rem) 1rem 0;
    /* 60px - 100px */
    padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-509 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-509 .cs-background:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.8) 55%, #ffffff 60%, #ffffff 100%);
  }
  #hero-509 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #hero-509 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* changes at tablet */
    gap: 3rem;
  }
  #hero-509 .cs-content {
    width: 100%;
    max-width: 41.25rem;
  }
  #hero-509 .cs-topper {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-left: 3.75rem;
    color: var(--primary);
    display: block;
    position: relative;
  }
  #hero-509 .cs-topper:before {
    content: "";
    /* make it really long so it always goes off screen */
    width: 62.5rem;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%) translateX(2.1875rem);
    right: 100%;
  }
  #hero-509 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    max-width: 51.8125rem;
    /* 16px - 24px */
    margin: 0 auto clamp(1rem, 4vw, 1.5rem) 0;
    color: var(--headerColor);
    position: relative;
  }
  #hero-509 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    /* 464px - 622px */
    max-width: clamp(29rem, 60vw, 38.785rem);
    margin: 0 auto 0 0;
    margin-bottom: 2.25rem;
    color: var(--bodyTextColor);
  }
  #hero-509 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #hero-509 .cs-item-r {
    list-style: none;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  #hero-509 .cs-item-r:hover:before {
    background-color: var(--primary);
  }
  #hero-509 .cs-item-r:before {
    /* white overlay */
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.68;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
  }
  #hero-509 .cs-item-w {
    list-style: none;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  #hero-509 .cs-item-w:hover:before {
    background-color: #fff;
  }
  #hero-509 .cs-item-w:before {
    /* white overlay */
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.68;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
  }
  #hero-509 .cs-item-b {
    list-style: none;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  #hero-509 .cs-item-b:hover:before {
    background-color: var(--secondary);
  }
  #hero-509 .cs-item-b:before {
    /* white overlay */
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.68;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
  }
  #hero-509 .cs-link {
    text-decoration: none;
    width: 100%;
    /* 24px - 40px */
    padding: clamp(1.5rem, 1.5vw, 2.5rem);
    /* removed at tablet */
    aspect-ratio: 328/161;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-509 .cs-h2 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: var(--headerColor);
    position: relative;
    z-index: 10;
  }
  #hero-509 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-509 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-509 .cs-container {
    max-width: 80rem;
    justify-content: flex-start;
    /* 96px - 164px */
    gap: clamp(6rem, 13vw, 10.25rem);
  }
  #hero-509 .cs-card-group {
    flex-direction: row;
  }
  #hero-509 .cs-item {
    width: 100%;
  }
  #hero-509 .cs-link {
    aspect-ratio: 0;
    /* 160px - 233px */
    height: clamp(10rem, 18vw, 14.5625rem);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-509 .cs-background:before {
    opacity: 0.92;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1800 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #services-1800 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1800 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1800 .cs-title {
    max-width: 25ch;
  }
  #services-1800 .cs-button-solid {
    flex: none;
    white-space: nowrap;
  }
  #services-1800 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1800 .cs-card-group > li {
    display: block;
    padding: 0;
    margin: 0;
  }
  #services-1800 .cs-item {
    text-align: center;
    width: 100%;
    height: clamp(15rem, 40vw, 20rem);
    box-sizing: border-box;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    grid-column: span 3;
    grid-row: span 1;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #services-1800 .cs-item:hover .cs-background:before {
    opacity: 0.8;
  }
  #services-1800 .cs-item:hover .cs-background img {
    transform: scale(1.2);
  }
  #services-1800 .cs-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: clamp(1rem, 3vw, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  #services-1800 .cs-number {
    font-size: 5.25rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0);
    opacity: 100%;
    position: absolute;
    /* 16px - 32px */
    right: clamp(1rem, 3vw, 2rem);
    bottom: clamp(1rem, 3vw, 2rem);
    transition: opacity 0.3s, top 0.3s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--bodyTextColorWhite);
  }
  #services-1800 .cs-h3 {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 2.5vw, 1.9375rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  }
  #services-1800 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1800 .cs-background:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background-color: #3C3B6E;
    opacity: 0.4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #services-1800 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s;
  }
  #services-1800 .cs-background-b {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1800 .cs-background-b:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background-color: #3C3B6E;
    opacity: 0.2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #services-1800 .cs-background-b img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s;
  }
  #services-1800 .cs-background-r {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1800 .cs-background-r:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background-color: #B22234;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #services-1800 .cs-background-r img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s;
  }
  #services-1800 .cs-background-w {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1800 .cs-background-w:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #services-1800 .cs-background-w:hover::before {
    opacity: 0.6;
  }
  #services-1800 .cs-background-w img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.6s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1800 {
    /* 32px - 48px */
    padding-top: clamp(2rem, 4vw, 3rem);
  }
  #services-1800 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #services-1800 .cs-item {
    grid-column: span 3;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1800 .cs-title,
  body.dark-mode #services-1800 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1800 .cs-text {
    opacity: 0.8;
  }
}
