/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-996 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75rem) 1rem 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
  }
  #hero-996 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 100px - 200px */
    gap: clamp(6.25rem, 25vw, 12.5rem);
  }
  #hero-996 .cs-content {
    width: 100%;
    max-width: 59.6875rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
  }
  #hero-996 .cs-topper {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.6vw, 1rem);
    line-height: 1.2em;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.1rem;
    font-weight: 700;
    width: 100%;
    color: var(--bodyTextColorWhite);
    margin-bottom: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.25rem;
    position: relative;
  }
  #hero-996 .cs-topper:after {
    /* white line */
    content: "";
    width: 50%;
    max-width: 7.5rem;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: relative;
    display: block;
  }
  #hero-996 .cs-title {
    /* 39px - 80px */
    font-size: clamp(2.4375rem, 6.4vw, 5rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    max-width: 20ch;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #hero-996 .cs-color {
    color: var(--primary);
  }
  #hero-996 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColorWhite);
  }
  #hero-996 .cs-button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
  }
  #hero-996 .cs-card-group {
    margin: 0;
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #hero-996 .cs-card-group:before {
    /* glass blur background */
    content: "";
    width: 100vw;
    height: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 124, 149, 0.15);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  #hero-996 .cs-item {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.06);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s;
  }
  #hero-996 .cs-item:before {
    /* backgorund color */
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.6s;
  }
  #hero-996 .cs-item:hover {
    border-color: var(--primary);
  }
  #hero-996 .cs-item:hover:before {
    opacity: 1;
  }
  #hero-996 .cs-item:hover .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  #hero-996 .cs-item:hover .cs-item-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.9;
  }
  #hero-996 .cs-item:hover .cs-background {
    opacity: 1;
  }
  #hero-996 .cs-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-996 .cs-icon {
    /* 36px - 60px */
    width: clamp(2.25rem, 6vw, 4rem);
    height: auto;
    margin: 0 0 1rem 0;
  }
  #hero-996 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    color: var(--bodyTextColorWhite);
  }
  #hero-996 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    max-width: 18.75rem;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #hero-996 .cs-background {
    /* Background Image */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-996 .cs-background:before {
    /* Black Color Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(41deg, rgba(26, 26, 26, 0.9) 30%, rgba(26, 26, 26, 0.3) 100%);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-996 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #hero-996 .cs-card-group .cs-item {
    grid-column: span 6;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-996 .cs-card-group .cs-item {
    grid-column: span 3;
  }
}
/* Large Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-996 {
    background: url("/assets/images/landingSMS.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
    /* remove img tag so we can make parallax work */
  }
  #hero-996 .cs-background img {
    display: none;
  }
}
