/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1255 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbs-1255 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1255 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    /* changes to 433px at desktop */
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1255 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1255 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1255 .cs-ul {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    /* clips the bullets to create the half circle */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-1255 .cs-li {
    list-style: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-1255 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .845em, resets at desktop */
    font-size: min(2.207vw, .845em);
    width: 40.625em;
    height: 41.125em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1255 .cs-picture {
    overflow: hidden;
    position: absolute;
  }
  #sbs-1255 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1255 .cs-picture1 {
    width: 12.6875em;
    height: 12.6875em;
    top: 1.25em;
    left: 1.125em;
  }
  #sbs-1255 .cs-picture2 {
    width: 13em;
    height: 13em;
    top: 0;
    left: 14.0625em;
  }
  #sbs-1255 .cs-picture3 {
    width: 13.375em;
    height: 13.375em;
    top: 0.5625em;
    right: 0;
  }
  #sbs-1255 .cs-picture4 {
    width: 14em;
    height: 14em;
    top: 14.1875em;
    left: 0;
  }
  #sbs-1255 .cs-picture5 {
    width: 17.9375em;
    height: 17.9375em;
    box-shadow: 0px 24px 122px 0px rgba(0, 0, 0, 0.78);
    top: 10.9375em;
    left: 10.875em;
    z-index: 10;
  }
  #sbs-1255 .cs-picture6 {
    width: 12.6875em;
    height: 12.6875em;
    bottom: 0;
    left: 2.375em;
  }
  #sbs-1255 .cs-picture7 {
    width: 12.75em;
    height: 12.75em;
    top: 14.1875em;
    right: 1.25em;
  }
  #sbs-1255 .cs-picture8 {
    width: 13.9375em;
    height: 13.9375em;
    bottom: 3.75em;
    left: 15.375em;
  }
  #sbs-1255 .cs-waves-wrapper {
    /* changes to 100% at desktop */
    width: 100vw;
    height: 150%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    /* changes at desktop */
    transform: translateX(-50%);
  }
  #sbs-1255 .cs-waves-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1255 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbs-1255 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs-1255 .cs-waves-wrapper {
    width: 100%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1255 .cs-title,
  body.dark-mode #sbs-1255 .cs-text,
  body.dark-mode #sbs-1255 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1255 .cs-text,
  body.dark-mode #sbs-1255 .cs-li {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-1009,
  #RTsbsr-1009,
  #RTsbst-1009 {
    padding: var(--sectionPadding);
  }
  #RTsbs-1009 .cs-container,
  #RTsbsr-1009 .cs-container,
  #RTsbst-1009 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #RTsbs-1009 .cs-content,
  #RTsbsr-1009 .cs-content,
  #RTsbst-1009 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    /* changes to 522px at desktop */
    max-width: 36.125rem;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RTsbs-1009 .cs-text,
  #RTsbsr-1009 .cs-text,
  #RTsbst-1009 .cs-text {
    margin-bottom: 1rem;
  }
  #RTsbs-1009 .cs-text:last-of-type,
  #RTsbsr-1009 .cs-text:last-of-type,
  #RTsbst-1009 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RTsbs-1009 .cs-spacer,
  #RTsbsr-1009 .cs-spacer,
  #RTsbst-1009 .cs-spacer {
    width: 100%;
    /* 16px - 24px */
    height: clamp(1rem, 3vw, 1.5rem);
    display: block;
  }
  #RTsbs-1009 .cs-button-solid,
  #RTsbsr-1009 .cs-button-solid,
  #RTsbst-1009 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RTsbs-1009 .cs-button-solid:before,
  #RTsbsr-1009 .cs-button-solid:before,
  #RTsbst-1009 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #RTsbs-1009 .cs-button-solid:hover:before,
  #RTsbsr-1009 .cs-button-solid:hover:before,
  #RTsbst-1009 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RTsbs-1009 .cs-image-group,
  #RTsbsr-1009 .cs-image-group,
  #RTsbst-1009 .cs-image-group {
    width: 100%;
  }
  #RTsbs-1009 .cs-picture,
  #RTsbsr-1009 .cs-picture,
  #RTsbst-1009 .cs-picture {
    width: 100%;
    height: 16.3125rem;
    border: 12px solid #fff;
    background-color: #fff;
    display: block;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
  }
  #RTsbs-1009 .cs-picture img,
  #RTsbsr-1009 .cs-picture img,
  #RTsbst-1009 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it behave like a background image */
    object-fit: cover;
  }
  #RTsbs-1009 .cs-seal,
  #RTsbsr-1009 .cs-seal,
  #RTsbst-1009 .cs-seal {
    /* changes to a clamp(104px - 190px) at desktop */
    width: 6.5rem;
    height: auto;
    /* 104px - 190px */
    /* wrapped clamp in calc function to make the value negative, and multiply by half (.5) the height to it always overlaps the bg image by half its height */
    margin-top: calc(clamp(6.5rem, 12vw, 11.875rem)*-.5);
    margin-left: auto;
    /* 28px - 120px */
    margin-right: clamp(1.75rem, 10vw, 7.5rem);
    background-color: #fff;
    border: clamp(6px, 0.8vw, 12px) solid #fff;
    border-radius: 50%;
    display: block;
    position: relative;
    /* make it rest on top of the bg picture */
    z-index: 10;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-1009 .cs-container,
  #RTsbsr-1009 .cs-container,
  #RTsbst-1009 .cs-container {
    align-items: flex-start;
  }
  #RTsbs-1009 .cs-flex-group,
  #RTsbsr-1009 .cs-flex-group,
  #RTsbst-1009 .cs-flex-group {
    flex-direction: row;
  }
  #RTsbs-1009 .cs-text,
  #RTsbsr-1009 .cs-text,
  #RTsbst-1009 .cs-text {
    columns: 2;
    column-gap: 1.5rem;
  }
  #RTsbs-1009 .cs-spacer,
  #RTsbsr-1009 .cs-spacer,
  #RTsbst-1009 .cs-spacer {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbs-1009 .cs-container,
  #RTsbsr-1009 .cs-container,
  #RTsbst-1009 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* 100px - 200px */
    gap: clamp(6.25rem, 13vw, 12.5rem);
  }
  #RTsbs-1009 .cs-image-group,
  #RTsbsr-1009 .cs-image-group,
  #RTsbst-1009 .cs-image-group {
    max-width: 33.875rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  #RTsbs-1009 .cs-picture,
  #RTsbsr-1009 .cs-picture,
  #RTsbst-1009 .cs-picture {
    height: 28.75rem;
    aspect-ratio: initial;
  }
  #RTsbs-1009 .cs-seal,
  #RTsbsr-1009 .cs-seal,
  #RTsbst-1009 .cs-seal {
    /* 104 - 190px */
    width: clamp(6.5rem, 13vw, 11.875rem);
    margin: 0;
    position: absolute;
    top: 50%;
    /* subtract 12px (.75rem) to account for the border */
    right: calc((clamp(6.5rem, 13vw, 11.875rem)*-.5) + -.75rem);
    transform: translateY(-50%);
  }
  #RTsbs-1009 .cs-content,
  #RTsbsr-1009 .cs-content,
  #RTsbst-1009 .cs-content {
    flex: none;
    width: 54%;
    max-width: 33.875rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RTsbs-1009 .cs-title,
  body.dark-mode #RTsbsr-1009 .cs-title,
  body.dark-mode #RTsbst-1009 .cs-title,
  body.dark-mode #RTsbs-1009 .cs-text,
  body.dark-mode #RTsbsr-1009 .cs-text,
  body.dark-mode #RTsbst-1009 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #RTsbs-1009 .cs-text,
  body.dark-mode #RTsbsr-1009 .cs-text,
  body.dark-mode #RTsbst-1009 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #RTsbs-1009 .cs-picture,
  body.dark-mode #RTsbsr-1009 .cs-picture,
  body.dark-mode #RTsbst-1009 .cs-picture {
    border-color: var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #RTsbs-1009 .cs-seal,
  body.dark-mode #RTsbsr-1009 .cs-seal,
  body.dark-mode #RTsbst-1009 .cs-seal {
    border-color: var(--dark);
    background-color: var(--dark);
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RTsbsr-1009 .cs-container {
    justify-content: flex-end;
  }
  #RTsbsr-1009 .cs-image-group {
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #RTsbsr-1009 .cs-seal {
    /* subtract 12px (.75rem) to account for the border */
    left: calc((clamp(6.5rem, 13vw, 11.875rem)*-.5) + -.75rem);
    right: auto;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RTsbsr-1009 {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-83 {
    padding: var(--sectionPadding);
  }
  #sbs-83 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-83 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-83 .cs-title {
    max-width: 20ch;
  }
  #sbs-83 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-83 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-83 .cs-card-group {
    width: 100%;
    max-width: 25rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
  }
  #sbs-83 .cs-item {
    list-style: none;
    width: 32%;
    max-width: 9.375rem;
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbs-83 .cs-number {
    /* 39px - 49px */
    font-size: clamp(2.4375rem, 5vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    color: var(--primary);
    display: block;
    /* 8px - 16px */
    margin: 0 0 clamp(0.25rem, 0.5vw, 1rem);
  }
  #sbs-83 .cs-h3 {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: auto 0 0;
    color: var(--headerColor);
  }
  #sbs-83 .cs-image-group {
    width: 100%;
    max-width: 33.875rem;
    /* pushes down by the same amount the images overlap the image group */
    margin: 0 0 2.5rem;
    display: flex;
    /* separate children to opposite sides of the room */
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 2vw, 1.25rem);
  }
  #sbs-83 .cs-picture {
    width: 48%;
    /* 218px - 264px */
    min-height: clamp(13.625rem, 25vw, 16.5rem);
    aspect-ratio: 160/218;
    position: relative;
    display: block;
  }
  #sbs-83 .cs-picture:nth-of-type(2) {
    /* move slightly down */
    transform: translateY(2.5rem);
  }
  #sbs-83 .cs-picture:nth-of-type(4) {
    /* move slightly up */
    transform: translateY(2.5rem);
  }
  #sbs-83 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act as a background image to the picture element */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-83 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* 44px - 108px */
    column-gap: clamp(2.75rem, calc(4.5vw * 1.2 + 1em), 6.75rem);
  }
  #sbs-83 .cs-card-group {
    max-width: 100%;
  }
  #sbs-83 .cs-image-group {
    /* 318px - 542px */
    width: clamp(19.875rem, 46.9vw, 33.875rem);
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-83 .cs-picture {
    width: 47.8%;
    aspect-ratio: initial;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-83 .cs-title,
  body.dark-mode #sbs-83 .cs-text,
  body.dark-mode #sbs-83 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-83 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-83 .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-1668 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #stats-1668 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-1668 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
  }
  #stats-1668 .cs-item {
    list-style: none;
    text-align: left;
    /* 20px - 40px */
    padding: clamp(1.25rem, 2vw, 2.5rem) 1rem;
    grid-column: span 6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }
  #stats-1668 .cs-item:after {
    /* grey lines */
    content: "";
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    background: #e8e8e8;
    opacity: 1;
    position: absolute;
    display: block;
  }
  #stats-1668 .cs-item:nth-of-type(2):after {
    display: none;
  }
  #stats-1668 .cs-item:last-of-type:after {
    display: none;
  }
  #stats-1668 .cs-header {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #stats-1668 .cs-number {
    /* 60px - 400px */
    font-size: clamp(3.75rem, 9.8vw, 6.25rem);
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-1668 .cs-card-group {
    display: flex;
    justify-content: space-between;
  }
  #stats-1668 .cs-item {
    width: 100%;
    max-width: 16.25rem;
    padding-left: 0;
  }
  #stats-1668 .cs-item:nth-of-type(1) {
    padding-left: 0;
  }
  #stats-1668 .cs-item:nth-of-type(2):after {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #stats-1668 {
    background-color: var(--dark);
  }
  body.dark-mode #stats-1668 .cs-item:after {
    opacity: 0.3;
  }
  body.dark-mode #stats-1668 .cs-number {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-985 {
    padding: var(--sectionPadding);
  }
  #blog-985 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-985 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #blog-985 .cs-title {
    margin-bottom: 2rem;
    max-width: 20ch;
  }
  #blog-985 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #blog-985 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #blog-985 .cs-button-solid:hover:before {
    width: 100%;
  }
  #blog-985 .cs-button-solid {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #blog-985 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #blog-985 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #blog-985 .cs-item:hover {
    cursor: pointer;
  }
  #blog-985 .cs-item:hover .cs-info:before {
    opacity: 1;
    background-color: var(--primary);
  }
  #blog-985 .cs-item:hover .cs-picture img {
    transform: scale(1.15);
  }
  #blog-985 .cs-item:hover .cs-date {
    color: #fff;
  }
  #blog-985 .cs-item:hover .cs-icon {
    filter: brightness(150%);
  }
  #blog-985 .cs-item:hover .cs-link {
    color: #fff;
  }
  #blog-985 .cs-picture {
    width: 100%;
    height: 30rem;
    /* removed at tablet */
    aspect-ratio: 0.68333333;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #blog-985 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.9s;
  }
  #blog-985 .cs-info {
    width: 83%;
    max-width: 26.25rem;
    /* 16px - 24px */
    padding: clamp(1rem, 2vw, 1.5rem);
    /* prevents padding from affecting the height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  #blog-985 .cs-info:before {
    /* background-color */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.8;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #blog-985 .cs-date {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #bababa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #blog-985 .cs-icon {
    width: 1.25rem;
    height: auto;
    transition: filter 0.3s;
  }
  #blog-985 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.75rem 0;
    color: #fff;
    display: block;
  }
  #blog-985 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.25rem 0;
    color: #f7f7f7;
    display: block;
  }
  #blog-985 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    text-decoration: none;
    width: auto;
    margin: 0;
    color: var(--primary);
    display: inline-block;
    position: relative;
    transition: color 0.3s;
  }
  #blog-985 .cs-link:hover {
    color: #fff;
  }
  #blog-985 .cs-link:before {
    /* underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s;
  }
}
/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
  #blog-985 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 3rem;
  }
  #blog-985 .cs-title {
    margin: 0;
  }
  #blog-985 .cs-picture {
    /* remove the aspect ratio so the height can be squished */
    aspect-ratio: initial;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #blog-985 .cs-container {
    max-width: 80rem;
  }
  #blog-985 .cs-card-group {
    flex-direction: row;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #blog-985 .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
