/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
  :root {
    --primary: #007C95;
    --primaryLight: #4DB7C8;
    --secondary: #b3b3b3;
    --secondaryLight2: #e0e0e0;
    --headerColor: #003b48;
    --bodyTextColor: #333333;
    --bodyTextColorWhite: #ffffff;
    /*
        --primary: #007C95;
        --primaryLight: #66aabc;   
        --secondary: #b3b3b3;
        --secondaryLight: #f5f5f5; 
        
        --headerColor: #005666;    
        --bodyTextColor: #4a4a4a;  
        --bodyTextColorWhite: #ffffff; 
         */
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }
  .cs-topper {
    display: block;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    font-weight: 700;
    color: var(--primary);
    text-align: inherit;
  }
  .cs-title {
    position: relative;
    margin: 0 0 1rem 0;
    max-width: 43.75rem;
    font-size: var(--headerFontSize);
    line-height: 1.2em;
    font-weight: 900;
    color: var(--headerColor);
    text-align: inherit;
  }
  .cs-text {
    margin: 0;
    max-width: 40.625rem;
    width: 100%;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: inherit;
  }
  .cs-button-solid {
    text-align: center;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: 11.25rem;
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding: 0;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  .cs-button-solid:hover {
    color: #1a1a1a;
  }
  .cs-button-solid:hover:before {
    width: 100%;
  }
  .cs-button-transparent {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: 11.25rem;
    /* 46px - 56px */
    height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding: 0;
    background-color: transparent;
    border: 1px solid var(--bodyTextColorWhite);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: color / 3s;
  }
  .cs-button-transparent:before {
    content: "";
    position: absolute;
    display: block;
    background: #fff;
    opacity: 1;
    /* so it sits on top of the border */
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    transform-origin: left;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  .cs-button-transparent:hover {
    color: #1a1a1a;
  }
  .cs-button-transparent:hover:before {
    transform: scaleX(1);
  }
  .cs-hide-on-mobile {
    display: none;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  .cs-hide-on-mobile {
    display: block;
  }
  .cs-hide-on-desktop {
    display: none;
  }
}
/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
  body,
  html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 100%;
    color: var(--bodyTextColor);
  }
  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  body {
    transition: background-color 0.3s;
  }
  .container {
    position: relative;
    margin: auto;
    width: 92%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }
  p,
  li,
  a {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5em;
  }
  p,
  li {
    color: #353535;
  }
  a:hover,
  button:hover {
    cursor: pointer;
  }
  .skip {
    z-index: -1111111;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  /* roboto-regular - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 700;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 900;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}
/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
  body,
  html {
    font-size: 0.55vw;
  }
}
/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  body.dark-mode #dark-mode-toggle .cs-sun {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  body.dark-mode #dark-mode-toggle .cs-moon {
    transform: translate(-50%, -150%);
    opacity: 0;
    fill: #fff;
  }
  #dark-mode-toggle {
    display: block;
    position: absolute;
    top: 0rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
    z-index: 1000;
    transition: top 0.3s, right 0.3s;
  }
  #dark-mode-toggle img,
  #dark-mode-toggle svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
  }
  #dark-mode-toggle .cs-moon {
    z-index: 2;
    transition: transform 0.3s, opacity 0.3s;
  }
  #dark-mode-toggle .cs-sun {
    z-index: 1;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }
}
/* Tablet - 650px - 1024px */
@media only screen and (min-width: 40.625rem) and (max-width: 1299.5px) {
  #dark-mode-toggle {
    top: auto;
    right: auto;
    left: auto;
    position: relative;
    order: 1;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 1024px) {
  #dark-mode-toggle {
    margin: 0 0 0 2rem;
    align-self: center;
    position: relative;
    transform: none;
    bottom: auto;
    left: auto;
    right: auto;
  }
  #dark-mode-toggle:hover {
    cursor: pointer;
  }
}
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 1023.5px) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    --topBarHeight: 3rem;
    width: 100%;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #F3F3F3;
    box-shadow: rgba(0, 124, 149, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 100;
    transition: transform 0.3s;
  }
  #cs-navigation.cs-active .cs-link {
    color: var(--bodyTextColorWhite);
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0.1s;
  }
  #cs-navigation.cs-active .cs-li {
    transform: translateY(0);
    opacity: 1;
  }
  #cs-navigation .cs-contact {
    margin: 0;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transition: height 0.3s, padding-bottom 0.3s, opacity 0.3s;
    z-index: -3;
  }
  #cs-navigation .cs-item {
    text-decoration: none;
    width: var(--topBarHeight);
    height: var(--topBarHeight);
    border-right: 1px solid #CFD0D1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-item:first-of-type {
    border-left: 1px solid #CFD0D1;
  }
  #cs-navigation .cs-top-social {
    display: none;
  }
  #cs-navigation .cs-top-bar {
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-item-text {
    display: none;
  }
  #cs-navigation .cs-bottom-bar {
    height: auto;
    padding: 1.25rem 1rem;
    background-color: #111418;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #cs-navigation .cs-logo {
    /* if logos dont look right, adjust the height to be smaller so longer logos fit. */
    height: 2.5rem;
    width: auto;
    display: block;
  }
  #cs-navigation .cs-logo img {
    height: 100%;
    width: auto;
  }
  #cs-navigation .cs-desktop {
    display: none;
  }
  #cs-navigation .cs-logo-wrapper {
    width: auto;
    height: 100%;
    position: relative;
    z-index: 1;
    perspective: 700px;
    transform-style: preserve-3d;
  }
  #cs-navigation .cs-default {
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    transition: opacity 0.3s, transform 0.6s;
  }
  #cs-navigation .cs-dark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: opacity 0.3s, transform 0.6s;
  }
  #cs-navigation .cs-desktop {
    display: none;
  }
  #cs-navigation .cs-item {
    font-size: 1rem;
    line-height: 1.5rem;
    list-style: none;
    margin: 0;
    color: #585B5D;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }
  #cs-navigation .cs-remove {
    display: none;
  }
  #cs-navigation .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #cs-navigation .cs-header {
    display: none;
  }
  #cs-navigation .cs-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: inherit;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s;
  }
  #cs-navigation .cs-toggle {
    width: 3rem;
    height: 3rem;
    margin: 0;
    background-color: #F3F3F3;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #cs-navigation .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }
  #cs-navigation .cs-box {
    width: 1.25rem;
    height: 0.75rem;
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #585B5D;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform 0.5s, top 0.3S, left 0.3S;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation .cs-line3 {
    width: 0.75rem;
    bottom: 0;
    left: 0;
    transform: none;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-contact-wrapper,
  #cs-navigation .cs-tablet,
  #cs-navigation .cs-button-solid {
    display: none;
  }
}
/* Tablet - 650px - 1024px */
@media only screen and (min-width: 40.625rem) and (max-width: 1023.5px) {
  #cs-navigation {
    overflow: hidden;
    background-color: #FFFFFF;
  }
  #cs-navigation .cs-nav {
    order: 3;
  }
  #cs-navigation .cs-location {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  #cs-navigation .cs-top-bar {
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  #cs-navigation .cs-contact {
    padding: 0;
  }
  #cs-navigation .cs-item:first-of-type {
    border-left: none;
  }
  #cs-navigation .cs-logo {
    margin-right: auto;
    order: -1;
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-logo:before {
    content: '';
    width: 50vw;
    height: 62.5rem;
    background: rgba(0, 124, 149, 0.5);
    opacity: 1;
    display: block;
    position: absolute;
    top: 50%;
    right: -2rem;
    z-index: -1;
    transform: translateY(-50%);
  }
  #cs-navigation .cs-top-social {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, visibility 0.3s, height 0.3s;
  }
  #cs-navigation .cs-social-link {
    text-decoration: none;
    width: var(--topBarHeight);
    height: var(--topBarHeight);
    border-left: 1px solid #CFD0D1;
    border-radius: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-social-icon {
    width: 1rem;
    height: auto;
    opacity: 0.6;
    display: block;
  }
  #cs-navigation .cs-bottom-bar {
    background-color: transparent;
    gap: 1rem;
  }
  #cs-navigation .cs-li-link {
    font-size: 1.5rem;
  }
}
/* Dark Mode */
@media only screen and (max-width: 1023.5px) {
  body.dark-mode #cs-navigation {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation .cs-top-bar {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation .cs-bottom-bar {
    background-color: rgba(0, 0, 0, 0.4);
  }
  body.dark-mode #cs-navigation .cs-item {
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #cs-navigation .cs-social-link {
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #cs-navigation .cs-social-icon {
    filter: grayscale(1) brightness(1000%);
    opacity: 1;
  }
  body.dark-mode #cs-navigation .cs-item {
    color: #fff;
  }
  body.dark-mode #cs-navigation .cs-icon {
    /* if current color is not black, turns icon white */
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #cs-navigation .cs-toggle {
    background-color: var(--primary);
  }
  body.dark-mode #cs-navigation .cs-line {
    background-color: #1a1a1a;
  }
  body.dark-mode #cs-navigation .cs-ul-wrapper {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation .cs-ul-wrapper:before {
    /* dark overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  body.dark-mode #cs-navigation .cs-li-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-navigation .cs-li-link.cs-active {
    color: var(--primary);
  }
}
/*-- -------------------------- -->
<---   Mobile Navigation Menu   -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (max-width: 1023.5px) {
  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    opacity: 0;
    background-color: #fff;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s, opacity 0.3s;
  }
  #cs-navigation .cs-ul {
    margin: 0;
    padding: 3rem 0 3rem 0;
    width: 100%;
    height: auto;
    max-height: 65vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #cs-navigation .cs-li {
    text-align: center;
    list-style: none;
    width: 100%;
    margin-right: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    opacity: 0;
    transition: transform 0.6s, opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    text-transform: uppercase;
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link.cs-active {
    color: var(--primary);
  }
}
/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 1023.5px) {
  #cs-navigation .cs-li {
    text-align: center;
    width: 100%;
    display: block;
  }
  #cs-navigation .cs-dropdown {
    position: relative;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
  }
  #cs-navigation .cs-dropdown.cs-active .cs-drop-ul {
    height: auto;
    opacity: 1;
    visibility: visible;
    margin: 0.75rem auto 0 auto;
    padding: 1.25rem 0;
  }
  #cs-navigation .cs-dropdown.cs-active .cs-drop-link {
    opacity: 1;
  }
  #cs-navigation .cs-dropdown .cs-li-link {
    position: relative;
    transition: opacity 0.3s;
  }
  #cs-navigation .cs-drop-icon {
    width: 1.5rem;
    height: auto;
    position: absolute;
    top: 50%;
    right: -1.25rem;
    transform: translateY(-50%);
  }
  #cs-navigation .cs-drop-ul {
    width: 70%;
    height: 0;
    margin: 0 auto;
    padding: 0;
    background-color: var(--primary);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s, visibility 0.3s;
  }
  #cs-navigation .cs-drop-li {
    list-style: none;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    text-transform: uppercase;
    color: #fff;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 1024px) {
  #cs-navigation .cs-dropdown {
    position: relative;
  }
  #cs-navigation .cs-dropdown:hover {
    cursor: pointer;
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-ul,
  #cs-navigation .cs-dropdown:hover .cs-drop-ul-2 {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  #cs-navigation .cs-dropdown:hover .cs-drop-li,
  #cs-navigation .cs-dropdown:hover .cs-drop-li-2 {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-navigation .cs-dropdown .cs-li-link {
    display: flex;
  }
  #cs-navigation .cs-drop-icon {
    width: 1.5rem;
    height: auto;
    display: inline-block;
  }
  #cs-navigation .cs-drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    border-bottom: 5px solid var(--primary);
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    columns: 1;
    position: absolute;
    top: 100%;
    z-index: -100;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-drop-ul-2 {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background: rgba(0, 124, 149, 0.5);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    overflow: hidden;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    columns: 2;
    position: absolute;
    top: 100%;
    z-index: -100;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-drop-li {
    list-style: none;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0;
    width: 100%;
    height: auto;
    color: var(--bodyTextColorWhite);
    display: block;
    transform: translateY(-10/16rem);
    transition: opacity 0.6s, transform 0.6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(2) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(3) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(4) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(5) {
    transition-delay: 0.6s;
  }
  #cs-navigation .cs-drop-li:nth-of-type(6) {
    transition-delay: 0.75s;
  }
  #cs-navigation .cs-drop-li-2 {
    list-style: none;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0;
    width: 100%;
    height: auto;
    color: var(--bodyTextColorWhite);
    display: block;
    transform: translateY(-10/16rem);
    transition: opacity 0.6s, transform 0.6s;
  }
  #cs-navigation .cs-li-link {
    display: flex;
    align-items: center;
  }
  #cs-navigation .cs-li-link.cs-drop-link {
    font-size: 1rem;
    white-space: nowrap;
    line-height: 1.5em;
    text-decoration: none;
    padding: 0.75rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    color: var(--bodyTextColorWhite);
    display: block;
    transition: color 0.3s, background-color 0.3s;
  }
  #cs-navigation .cs-li-link.cs-drop-link:hover {
    background-color: #f7f7f7;
  }
  #cs-navigation .cs-li-link.cs-drop-link:before {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cs-navigation .cs-drop-ul {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation .cs-li-link.cs-drop-link:hover {
    background-color: var(--medium);
  }
  body.dark-mode #cs-navigation .cs-drop-icon {
    /* turns it white */
    filter: grayscale(1) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 1024px) {
  #cs-navigation {
    --topBarHeight: 3rem;
    width: 100%;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: 20%;
    max-width: 21.25rem;
    padding: 0 var(--topBarHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0.5rem;
    z-index: 10;
  }
  #cs-navigation .cs-logo:before {
    content: '';
    width: 100vw;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: auto;
  }
  #cs-navigation .cs-desktop {
    display: none;
  }
  #cs-navigation .cs-top-bar {
    width: 100%;
    max-width: 80rem;
    padding: 0 var(--topBarHeight);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-top-bar:before {
    content: '';
    width: 100vw;
    height: 100%;
    background: #fff;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-contact {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  #cs-navigation .cs-item {
    font-size: 1rem;
    text-decoration: none;
    line-height: var(--topBarHeight);
    color: #585B5D;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-item:hover {
    text-decoration: underline;
  }
  #cs-navigation .cs-item:before {
    /* divider Line */
    content: '';
    width: 1px;
    height: 100%;
    background: #CFD0D1;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    right: -1.5rem;
  }
  #cs-navigation .cs-item:last-of-type:before {
    display: none;
  }
  #cs-navigation .cs-top-social {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, visibility 0.3s, height 0.3s;
  }
  #cs-navigation .cs-social-link {
    text-decoration: none;
    width: var(--topBarHeight);
    height: var(--topBarHeight);
    border-right: 1px solid #CFD0D1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }
  #cs-navigation .cs-social-link:first-of-type {
    border-left: 1px solid #CFD0D1;
  }
  #cs-navigation .cs-social-link:hover {
    background-color: var(--primary);
  }
  #cs-navigation .cs-social-icon {
    width: 1rem;
    height: auto;
    opacity: 0.6;
    display: block;
  }
  #cs-navigation .cs-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #cs-navigation .cs-bottom-bar {
    width: 100%;
    max-width: 80rem;
    padding-right: var(--topBarHeight);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  #cs-navigation .cs-nav {
    margin-right: auto;
    margin-left: 2rem;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.25rem;
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li-link {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: block;
    position: relative;
    transition: color 0.3s;
  }
  #cs-navigation .cs-li-link:hover {
    color: var(--primary);
  }
  #cs-navigation .cs-li-link.cs-active {
    color: var(--primary);
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 1300px) {
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cs-navigation .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Larger Desktop - 1500px */
@media only screen and (min-width: 1500px) {
  #cs-navigation .cs-wrapper {
    width: 100%;
    max-width: 100rem;
    margin: auto;
    display: flex;
  }
  #cs-navigation .cs-top-bar {
    padding-right: 0;
  }
  #cs-navigation .cs-bottom-bar {
    padding-right: 0;
  }
  #cs-navigation .cs-logo {
    padding-left: 0;
    display: none;
  }
  #cs-navigation .cs-desktop {
    display: flex;
  }
}
/* Dark Mode */
@media only screen and (min-width: 1024px) {
  body.dark-mode #cs-navigation {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation .cs-top-bar:before {
    background-color: #000;
    opacity: 0.4;
  }
  body.dark-mode #cs-navigation .cs-logo:before {
    background-color: var(--dark);
    filter: brightness(50%);
  }
  body.dark-mode #cs-navigation .cs-social-icon {
    /* if current color is not black, turns icon white */
    filter: grayscale(1) brightness(1000%);
    opacity: 1;
  }
  body.dark-mode #cs-navigation .cs-item:before {
    background-color: #fff;
    opacity: 0.2;
  }
  body.dark-mode #cs-navigation .cs-social-link {
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #cs-navigation .cs-link,
  body.dark-mode #cs-navigation .cs-li-link,
  body.dark-mode #cs-navigation .cs-item {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-navigation .cs-li-link:before {
    background-color: var(--primaryLight);
  }
  body.dark-mode #cs-navigation .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
}
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #int-hero {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding-top: 3.125rem;
  }
  #int-hero picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #int-hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #int-hero h1 {
    position: relative;
    margin: 0 auto;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
    max-width: 31.25rem;
    width: 96%;
    font-size: 2.13333333rem;
    color: #fff;
    text-align: center;
  }
  #int-hero p {
    display: block;
    margin: auto;
    margin-bottom: 1.875rem;
    max-width: 25rem;
    width: 96%;
    color: #fff;
    text-align: center;
  }
  #int-hero:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-width: 48rem) {
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 4rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #int-hero {
    background-attachment: fixed;
    min-height: 18.75rem;
    height: auto;
    padding-top: 11.25rem;
    font-size: inherit;
    padding-block-end: 6.25rem;
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-51 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #cta-51 .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cta-51 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #cta-51 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-1292 {
    padding: var(--sectionPadding);
    padding-bottom: 1.25rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    z-index: 10;
    /* Navigation Links */
  }
  #cs-footer-1292 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 2.25rem;
  }
  #cs-footer-1292 .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer-1292 .cs-logo {
    width: 12.3125rem;
    height: auto;
    display: block;
    /* 20px - 24px */
    margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
  }
  #cs-footer-1292 .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer-1292 .cs-logo-img.dark {
    display: none;
  }
  #cs-footer-1292 .cs-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    transition: color 0.3s;
  }
  #cs-footer-1292 .cs-link:hover {
    color: var(--primary);
  }
  #cs-footer-1292 .cs-nav {
    width: 45%;
    max-width: 11.25rem;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  #cs-footer-1292 .cs-nav-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #cs-footer-1292 .cs-header {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
    position: relative;
    display: block;
  }
  #cs-footer-1292 .cs-nav-link {
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1.5em;
    width: auto;
    color: var(--bodyTextColor);
    position: relative;
    display: inline-block;
    transition: color 0.3s;
  }
  #cs-footer-1292 .cs-nav-link:before {
    /* underline */
    content: "";
    width: 0%;
    height: 0.125rem;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-footer-1292 .cs-nav-link:hover {
    color: var(--primary);
  }
  #cs-footer-1292 .cs-nav-link:hover:before {
    width: 100%;
  }
  #cs-footer-1292 .cs-bottom {
    max-width: 80rem;
    margin: auto;
    /* 48px - 100px */
    margin-top: clamp(3rem, 9vw, 6.25rem);
    /* 20px - 32px */
    padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2.25rem;
    row-gap: 0.75rem;
  }
  #cs-footer-1292 .cs-copyright,
  #cs-footer-1292 .cs-copyright-link {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #cs-footer-1292 .cs-copyright {
    text-align: center;
    width: 100%;
  }
  #cs-footer-1292 .cs-copyright-link {
    text-decoration: none;
    transition: color 0.3s;
  }
  #cs-footer-1292 .cs-copyright-link:hover {
    color: var(--secondary);
  }
  #cs-footer-1292 .cs-floater {
    width: 31.625rem;
    height: 31.625rem;
    margin-left: 34.375rem;
    border-radius: 50%;
    border: 2px solid var(--primary);
    opacity: 0.1;
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
  }
  #cs-footer-1292 .cs-floater:before {
    content: "";
    width: 44.6875rem;
    height: 44.6875rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #cs-footer-1292 .cs-floater:after {
    content: "";
    width: 60.1875rem;
    height: 60.1875rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-1292 .cs-container {
    row-gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 5.5rem;
    row-gap: 2.5rem;
  }
  #cs-footer-1292 .cs-nav {
    width: auto;
  }
  #cs-footer-1292 .cs-bottom {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  #cs-footer-1292 .cs-copyright {
    text-align: left;
    width: auto;
    margin-right: auto;
  }
  #cs-footer-1292 .cs-floater {
    display: block;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-1292 .cs-container {
    max-width: 80rem;
    flex-wrap: nowrap;
    /* align everything to the right */
    justify-content: flex-end;
    column-gap: clamp(2.5rem, 6vw, 5.25rem);
  }
  #cs-footer-1292 .cs-logo-group {
    width: 30%;
    max-width: 24.1875rem;
    /* pushes away from everything to the right */
    margin-right: auto;
  }
  #cs-footer-1292 .cs-text {
    width: 100%;
  }
  #cs-footer-1292 .cs-graphic {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cs-footer-1292 .cs-text,
  body.dark-mode #cs-footer-1292 .cs-link,
  body.dark-mode #cs-footer-1292 .cs-nav-link,
  body.dark-mode #cs-footer-1292 .cs-header,
  body.dark-mode #cs-footer-1292 .cs-copyright,
  body.dark-mode #cs-footer-1292 .cs-copyright-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-footer-1292 .cs-link .cs-link-icon {
    filter: grayscale(1) brightness(1000%);
  }
}
