/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
  #int-hero h1 {
    padding-top: 1rem;
  }
  #int-hero .cs-button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 1rem;
  }
  .ec-size .ec-store .ec-grid .ec-page-title {
    text-align: left !important;
  }
  .ec-size .ec-store .grid__categories--advanced {
    justify-content: flex-start !important;
  }
  .ec-size .ec-store.ec-store__category-page--0 .grid__products {
    justify-content: flex-start !important;
  }
  .grid__category-block--id-180767548 {
    background-color: #f7f7f7 !important;
  }
  .grid__category-block--id-180768548 {
    background-color: #f7f7f7 !important;
  }
  #gallery {
    position: relative;
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #gallery .cs-container {
    position: relative;
    max-width: 82.625em;
    width: 100%;
    margin: 0 auto;
  }
  #gallery .cs-container:first-of-type {
    min-height: 3rem;
  }
  #gallery .cs-container:first-of-type .ec-cart-widget {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: auto;
  }
  #gallery .cs-button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
}
