/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1841 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 28px - 44px */
            margin: 0 0 clamp(1.75rem, 6vw, 2.75rem);
        }

        .cs-ul {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-li {
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
        }

        .cs-link {
            text-decoration: none;
            padding: (20/16rem) 0;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                .cs-h3 {
                    color: var(--primary);
                }

                .cs-icon {
                    transform: scale(1.2);
                }
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color .3s;
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
            display: block;
            transition: transform .3s;
            transform-origin: bottom left;
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .8rem, resets at tablet */
            font-size: ~"min(2.235vw, .8em)";
            width: (630/16em);
            height: (613/16em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (413/16em);
            height: (540/16em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: (305/16em);
            height: (365/16em);
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        .cs-floater {
            /* 62px - 120px */
            width: clamp(3.875rem, 14vw, 7.5rem);
            height: clamp(3.875rem, 14vw, 7.5rem);
            background-color: #1a1a1a;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 34%;
            left: 57%;
            z-index: 10;
            transform: translate(-50%);
        }

        .cs-floater-icon {
            /* 32px - 60px */
            width: clamp(2rem, 4.6vw, 3.75rem);
            height: auto;
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1841 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            padding: (52/16rem) 0;
            align-items: flex-start;
            align-self: center;
        }

        .cs-image-group {
            font-size: ~"min(1.265vw, 1rem)";
            height: auto;
            min-height: (613/16em);
            flex: none;
        }

        .cs-picture1 {
            height: 88.091354%;
        }

        .cs-picture2 {
            height: 59.54323%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1841 {
            .cs-li {
                border-color: rgba(255, 255, 255, .1);
            }

            .cs-h3 {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-icon {
                filter: invert(1) brightness(1000);
            }
        }
    }
}

/*-- -------------------------- -->
<---            Quote           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-2138 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:~"min(2.3vw, .75rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (630/16em);
            height: (757/16em);
            order: 2;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: (541/16em);
            height: (757/16em);
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: rotateY(180deg);

            img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }

        .cs-wheel {
            width: (572/16em);
            height: (572/16em);
            object-fit: cover;
            position: absolute;
            top: (55/16em);
            left: 0;
            z-index: -2;
        }

        .cs-content {
            /* set text align to center if content needs to be centered */
            text-align: center;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* left aligns content, set to center to align content horizontally */
            align-items: center;
            /* 32px - 64px */
            gap: clamp(2rem, 4vw, 4rem);
            position: relative;
        }

        .cs-review {
            /* 25px - 49px */
            font-size: clamp(1.5625rem, 3.8vw, 3.0625rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-flex-group {
            display: flex;
            flex-direction: column;
            gap: (8/16rem);
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--secondary);
        }

        .cs-job {
            font-size: (16/16rem);
            font-weight: 400;
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-quote1 {
            width: (98/16rem);
            height: auto;
            display: block;
            position: absolute;
            top: (-32/16rem);
            z-index: -1;
        }

        .cs-quote2 {
            width: (161/16rem);
            height: auto;
            display: none;
            position: absolute;
            right: (40/16rem);
            bottom: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #quote-2138 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:~"min(1.4vw, .7rem)";
        }

        .cs-picture {
            right: 0;
        }

        .cs-wheel {
            top: (72/16em);
            left: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #quote-2138 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .cs-image-group {
            margin-top: auto;
            order: -1;
            position: relative;
            bottom: calc(clamp(3.75rem, 7.82vw, 6.25rem)*-1);
        }

        .cs-content {
            text-align: left;
            width: 50%;
            align-items: flex-start;
        }

        .cs-review {
            max-width: 23ch;
        }

        .cs-quote1 {
            display: none;
        }

        .cs-quote2 {
            display: block;
        }
    }
}

/* Large Desktop - 1440px */
@media only screen and (min-width: 90rem) {
    #quote-2138 {
        .cs-container {
            align-items: center;
        }

        .cs-image-group {
            font-size: inherit;
        }

        .cs-quote2 {
            width: (222/16rem);
            right: (80/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #quote-2138 {
            background-color: var(--dark);

            .cs-review,
            .cs-job {
                color: var(--bodyTextColorWhite);
            }

            .cs-job {
                opacity: .8;
            }

            .cs-wheel {
                filter: grayscale(1) brightness(1000%) opacity(.3);
            }

            .cs-quote1,
            .cs-quote2 {
                opacity: 0.2;
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---        Meet the Team       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1788 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 15ch;
            /* 24px - 32px */
            margin: 0 0 clamp(1.5rem, 1vw, 2rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: #fff;
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-gallery {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            overflow: hidden;
            position: relative;
        }

        .cs-image {
            /* 260px - 440px */
            min-height: clamp(16.25rem, 60vw, 27.5rem);
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                /* sends top of the image to the top of the parent container */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-socials {
            list-style: none;
            margin: 0;
            padding: (18/16rem) (10/16rem);
            background-color: var(--primary);
            display: flex;
            flex-direction: column;
            gap: (20/16rem);
            position: absolute;
            top: 0;
            right: (16/16rem);
            z-index: 1;
            /* for the hover effects on tablet+ */
            transition: top 0.3s cubic-bezier(0.55, 0.21, 0.64, 0.98);
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
            display: block;
        }

        .cs-info {
            min-width: (260/16rem);
            padding: (16/16rem) (20/16rem);
            background: rgba(26, 26, 26, 0.6);
            border-left: 4px solid var(--primary);
            position: absolute;
            right: 0;
            bottom: (16/16rem);
            /* for the hover effects on tablet+. delayed for a better effect on hover */
            transition: right 0.4s cubic-bezier(0.55, 0.21, 0.64, 0.98);
            backdrop-filter: blur(8px);
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-job {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--primary);
        }
    }
}

/* Tablet - 658px */
@media only screen and (min-width: 41.125rem) {
    #meet-team-1788 {
        .cs-content {
            text-align: left;
            align-items: flex-start;
        }
    }
}
    
/* Desktop - 10024px */
@media only screen and (min-width: 64rem) {
    #meet-team-1788 {
        .cs-socials {
            top: -40%;
        }

        .cs-social {
            opacity: 0;
            transform: translateY(-1rem);
            transition: transform .3s, opacity .4s;
            transition-delay: .1s;
            &:nth-of-type(2) {
                transition-delay: .17s;
            }
            &:nth-of-type(3) {
                transition-delay: .22s;
            }
        }

        .cs-info {
            right: -100%;
        }

        .cs-item {
            &:hover {
                .cs-socials {
                    top: 0;
                }

                .cs-social {
                    opacity: 1;
                    transform: translateY(0rem);
                }

                .cs-info {
                    right: 0;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #meet-team-1788 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
                                
/*-- -------------------------- -->
<!--       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1840 {
        padding: var(--sectionPadding);
        /* 128px - 192px */
        padding-bottom: clamp(8rem, 14vw, 12rem);
        overflow-x: clip;
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            /* 12px - 24px */
            margin-bottom: clamp(0.75rem, 4vw, 1.5rem);
        }

        .cs-ul {
            max-width: (630/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-auto-flow: row;
            /* 4px - 12px */
            gap: clamp(0.25rem, 2vw, 0.75rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            list-style: none;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-check-icon {
            width: (24/16rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: (32/16rem) 0 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: #fff;
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-video-wrapper {
            width: 100%;
            height: 111vw;
            max-height: (360/16rem);
            display: block;
            position: relative;
            z-index: 1;

            &:hover {
                cursor: pointer;

                .cs-play {
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }

            video,
            .cs-picture {
                width: 100%;
                height: 100%;
                /* makes image act as a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;

                img {
                    width: 100%;
                    height: 100%;
                    /* makes image act as a background image */
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .cs-play {
            /* 80px - 120px */
            width: clamp(5rem, 10vw, 7.5rem);
            height: clamp(5rem, 10vw, 7.5rem);
            display: flex;
            pointer-events: none;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .2);
            backdrop-filter: blur(8px);
            border: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform .3s, opacity .3s;

            &.cs-hide {
                transform: translate(-50%, -50%) scale(0) !important;
                opacity: 0;
            }
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
        }

        .cs-picture {
            width: 100%;
            height: 95vw;
            /* 260px - 324px */
            min-height: clamp(16.25rem, 32vw, 20.25rem);
            margin: clamp(3rem, 6vw, 4rem) 0 0;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-graphic {
            width: 100%;
            min-width: (1200/16rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1840 {
        .cs-video-wrapper {
            height: 90%;
            max-height: 100%;
            /* 420px - 740px */
            min-height: clamp(26.25rem, 50vw, 46.25rem);
        }

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 52%;
            max-width: (550/16rem);
            /* sends it to the right in the 2nd position */
            order: 2;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-ul {
            grid-template-columns: repeat(2, 1fr);
        }

        .cs-picture {
            height: 100%;
            max-height: 100%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-1840 {
        padding-bottom: 10vw;
        .cs-container {
            align-items: stretch;
        }

        .cs-video-wrapper {
            height: auto;
            margin-bottom: (140/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-1840 {
            .cs-title,
            .cs-text,
            .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-li {
                opacity: 0.8;
            }

            .cs-light {
                display: none;
            }

            .cs-dark {
                display: block;
            }
        }
    }
}

/*-- -------------------------- -->
<---           Events           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-1736 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* max width of 18 characters, includes spaces between words */
            max-width: 23ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: box-shadow 0.3s, border-color 0.3s;

            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: (413/16rem);
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;
            /* prevents flexbox from squishing it */
            flex: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.6s, opacity 0.3s;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.07%, rgba(0, 0, 0, 0) 44.07%, #000 80.27%), rgba(0, 0, 0, 0) 50% / cover no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        .cs-info {
            height: 100%;
            padding: (24/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            color: var(--bodyTextColorWhite);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            position: absolute;
            bottom: 0;
            z-index: 2;
        }

        .cs-date {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            margin: 0;
            padding: (12/16rem) (16/16rem);
            background-color: var(--primary);
            color: #fff;
            position: absolute;
            top: 0;
            left: (24/16rem);
            z-index: 2;
        }

        .cs-time {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            letter-spacing: 1.6px;
        }

        .cs-h3 {
            /* 25px - 31px */
            font-size: clamp(1.5625rem, 2vw, 1.9375rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 3. any additional text beyond the 3 lines will be truncated and replaced with "..." */
            text-overflow: ellipsis;
            margin: 0 0 (16/16rem) 0;
            overflow: hidden;
            /* 1. set the display to a "webkit box" */
            display: -webkit-box;
            transition: color 0.3s;
            /* 2. clamp the number of lines to 3 */
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .cs-link {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-arrow {
            width: (20/16rem);
            height: auto;
            filter: invert(1) brightness(100);
            transition: transform 0.3s;
        }

        .cs-stat-group {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0 0 0 (24/16rem);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (20/16rem);
            z-index: 1;
        }

        .cs-stat {
            display: flex;
            grid-column: span 12;
            gap: (16/16rem);
        }

        .cs-icon-wrapper {
            padding: (20/16rem);
            background-color: var(--primary);
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (32/16rem);
            height: auto;
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .cs-number {
            font-size: (31/16rem);
            font-weight: 900;
            line-height: 1.2em;
            color: var(--headerColor);
        }

        .cs-label {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--bodyTextColor);
        }

        .cs-graphic {
            width: 100%;
            min-width: (1000/16rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #blog-1736 {
        .cs-stat-group {
            padding: 0;
        }

        .cs-stat {
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #blog-1736 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-stat {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #blog-1736 {
            .cs-time,
            .cs-h3,
            .cs-link,
            .cs-number,
            .cs-label, .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-time,
            .cs-link,
            .cs-label {
                opacity: 0.8;
            }

            .cs-arrow {
                filter: invert(1) brightness(100);
            }

            .cs-light {
                display: none;
            }

            .cs-dark {
                display: block;
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-64 {
        /* Centers Button */
        text-align: center;
        padding: var(--sectionPadding);
        background-color: #f1f1f4;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* changes to a clamp at tablet */
            gap: (24/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (413/16rem);
            /* padding left & right 16px - 32px */
            padding: 0 clamp(1rem, 2.1vw, 2rem);
            /* 20px - 40px */
            padding-bottom: clamp(1.25rem, 4.7vw, 2.5rem);
            margin: 0;
            background: #fff;
            box-shadow: -1px 21px 39px 0px rgba(0, 0, 0, 0.05);
            /* prevent padding from adding to the height and width */
            box-sizing: border-box;
        }

        .cs-img {
            /* 116px - 136px */
            width: clamp(7.25rem, 18vw, 8.5rem);
            /* 20px - 24px */
            height: clamp(1.25rem, 3.2vw, 1.5rem);
            margin: 0 auto (24/16rem);
            display: block;
            transform: translateY(-0.8125rem);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: center;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: center;
            margin: 0 0 (16/16rem);
            color: var(--label);
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: auto;
            color: var(--bodyTextColor);
        }

     
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-64 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            /* 16px - 20px */
            column-gap: clamp(1rem, 1.5vw, 1.25rem);
            row-gap: (46/16rem);
        }

        .cs-item {
            /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw to get the desired sizes fit 4 in a row and then stack when you add more*/
            width: clamp(31.5%, 30vw, 32.3%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-64 {
            background: rgba(0, 0, 0, 0.2);

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-name,
            .cs-item-text,
            .cs-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: var(--accent);
            }
        }
    }
}

                                

                                
                                