/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1255 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 433px at desktop */
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            max-width: (630/16rem);
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            /* clips the bullets to create the half circle */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: (12/16rem);
            position: relative;
        }

    
        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .845em, resets at desktop */
            font-size: ~"min(2.207vw, .845em)";
            width: (650/16em);
            height: (658/16em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            overflow: hidden;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (203/16em);
            height: (203/16em);
            top: (20/16em);
            left: (18/16em);
        }

        .cs-picture2 {
            width: (208/16em);
            height: (208/16em);
            top: 0;
            left: (225/16em);
        }

        .cs-picture3 {
            width: (214/16em);
            height: (214/16em);
            top: (9/16em);
            right: 0;
        }

        .cs-picture4 {
            width: (224/16em);
            height: (224/16em);
            top: (227/16em);
            left: 0;
        }

        .cs-picture5 {
            width: (287/16em);
            height: (287/16em);
            box-shadow: 0px 24px 122px 0px rgba(0, 0, 0, 0.78);
            top: (175/16em);
            left: (174/16em);
            z-index: 10;
        }

        .cs-picture6 {
            width: (203/16em);
            height: (203/16em);
            bottom: 0;
            left: (38/16em);
        }

        .cs-picture7 {
            width: (204/16em);
            height: (204/16em);
            top: (227/16em);
            right: (20/16em);
        }

        .cs-picture8 {
            width: (223/16em);
            height: (223/16em);
            bottom: (60/16em);
            left: (246/16em);
        }

        .cs-waves-wrapper {
            /* changes to 100% at desktop */
            width: 100vw;
            height: 150%;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            /* changes at desktop */
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1255 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-waves-wrapper {
            width: 100%;
            bottom: 50%;
            transform: translate(-50%, 50%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1255 {
            .cs-title,
            .cs-text,
            .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-li {
                opacity: 0.8;
            }
        }
    }
}

    
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbs-1009,
    #RTsbsr-1009,
    #RTsbst-1009 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (800/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 522px at desktop */
            max-width: (578/16rem);
            margin-top: (-16/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-spacer {
            width: 100%;
            /* 16px - 24px */
            height: clamp(1rem, 3vw, 1.5rem);
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
        }

        .cs-picture {
            width: 100%;
            height: (261/16rem);
            border: 12px solid #fff;
            background-color: #fff;
            display: block;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
            }
        }

        .cs-seal {
            /* changes to a clamp(104px - 190px) at desktop */
            width: (104/16rem);
            height: auto;
            /* 104px - 190px */
            /* wrapped clamp in calc function to make the value negative, and multiply by half (.5) the height to it always overlaps the bg image by half its height */
            margin-top: ~"calc(clamp(6.5rem, 12vw, 11.875rem)*-.5)";
            margin-left: auto;
            /* 28px - 120px */
            margin-right: clamp(1.75rem, 10vw, 7.5rem);
            background-color: #fff;
            border: clamp(6px, 0.8vw, 12px) solid #fff;
            border-radius: 50%;
            display: block;
            position: relative;
            /* make it rest on top of the bg picture */
            z-index: 10;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RTsbs-1009,
    #RTsbsr-1009,
    #RTsbst-1009 {
        .cs-container {
            align-items: flex-start;
        }
        .cs-flex-group {
            flex-direction: row;
        }

        .cs-text {
            columns: 2;
            column-gap: (24/16rem);
        }

        .cs-spacer {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RTsbs-1009,
    #RTsbsr-1009,
    #RTsbst-1009 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            /* 100px - 200px */
            gap: clamp(6.25rem, 13vw, 12.5rem);
        }

        .cs-image-group {
            max-width: (542/16rem);
            display: flex;
            justify-content: flex-end;
            position: relative;
        }

        .cs-picture {
            height: (460/16rem);
            aspect-ratio: initial;
        }

        .cs-seal {
            /* 104 - 190px */
            width: clamp(6.5rem, 13vw, 11.875rem);
            margin: 0;
            position: absolute;
            top: 50%;
            /* subtract 12px (.75rem) to account for the border */
            right: ~"calc((clamp(6.5rem, 13vw, 11.875rem)*-.5) + -.75rem)";
            transform: translateY(-50%);
        }

        .cs-content {
            flex: none;
            width: 54%;
            max-width: (542/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RTsbs-1009,
        #RTsbsr-1009,
        #RTsbst-1009 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-picture {
                border-color: var(--dark);
                background-color: var(--dark);
            }

            .cs-seal {
                border-color: var(--dark);
                background-color: var(--dark);
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbsr-1009 {
        
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RTsbsr-1009 {
        .cs-container {
            justify-content: flex-end;
        }
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-seal {
            /* subtract 12px (.75rem) to account for the border */
            left: ~"calc((clamp(6.5rem, 13vw, 11.875rem)*-.5) + -.75rem)";
            right: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RTsbsr-1009 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

                                


/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-83 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (400/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: (12/16rem);
        }

        .cs-item {
            list-style: none;
            width: 32%;
            max-width: (150/16rem);
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }

        .cs-number {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 5vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primary);
            display: block;
            /* 8px - 16px */
            margin: 0 0 clamp(0.25rem, 0.5vw, 1rem);
        }

        .cs-h3 {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            /* auto margin top will push text to bottom if there's only one line */
            margin: auto 0 0;
            color: var(--headerColor);
        }

        .cs-image-group {
            width: 100%;
            max-width: (542/16rem);
            /* pushes down by the same amount the images overlap the image group */
            margin: 0 0 (40/16rem);
            display: flex;
            /* separate children to opposite sides of the room */
            justify-content: center;
            align-content: space-between;
            flex-wrap: wrap;
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .cs-picture {
            width: 48%;
            /* 218px - 264px */
            min-height: clamp(13.625rem, 25vw, 16.5rem);
            aspect-ratio: 160/218;
            position: relative;
            display: block;

            &:nth-of-type(2) {
                /* move slightly down */
                transform: translateY(2.5rem);
            }

            &:nth-of-type(4) {
                /* move slightly up */
                transform: translateY(2.5rem);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes image act as a background image to the picture element */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-83 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            /* 44px - 108px */
            column-gap: clamp(2.75rem, calc(4.5vw * 1.2 + 1em), 6.75rem);
        }

        .cs-card-group {
            max-width: 100%;
        }

        .cs-image-group {
            /* 318px - 542px */
            width: clamp(19.875rem, 46.9vw, 33.875rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-picture {
            width: 47.8%;
            aspect-ratio: initial;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-83 {
            .cs-title,
            .cs-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}


/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1668 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
    
        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: (0/16rem);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (8/16rem);
        }
    
        .cs-item {
            list-style: none;
            text-align: left;
            /* 20px - 40px */
            padding: clamp(1.25rem, 2vw, 2.5rem) (16/16rem);
            grid-column: span 6;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (16/16rem);
            position: relative;
    
            &:after {
                /* grey lines */
                content: "";
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                margin: 0;
                background: #e8e8e8;
                opacity: 1;
                position: absolute;
                display: block;
            }
    
            &:nth-of-type(2) {
                &:after {
                    display: none;
                }
            }
    
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
        }
    
        .cs-header {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: block;
        }
    
        .cs-number {
            /* 60px - 400px */
            font-size: clamp(3.75rem, 9.8vw, 6.25rem);
            line-height: 1em;
            font-weight: 300;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-1668 {
        .cs-card-group {
            display: flex;
            justify-content: space-between;
        }

        .cs-item {
            width: 100%;
            max-width: (260/16rem);
            padding-left: 0;

            &:nth-of-type(1) {
                padding-left: 0;
            }

            &:nth-of-type(2) {
                &:after {
                    display: block;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-1668 {
            background-color: var(--dark);

            .cs-item {
                &:after {
                    opacity: 0.3;
                }
            }

            .cs-number {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-985 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin-bottom: (32/16rem);
            max-width: 20ch;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover {
                cursor: pointer;
                .cs-info {
                    &:before {
                        opacity: 1;
                        background-color: var(--primary);
                    }
                }

                .cs-picture {
                    img {
                        transform: scale(1.15);
                    }
                }

                .cs-date {
                    color: #fff;
                }

                .cs-icon {
                    filter: brightness(150%);
                }

                .cs-link {
                    color: #fff;
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: (480/16rem);
            /* removed at tablet */
            aspect-ratio: (328/480);
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.9s;
            }
        }

        .cs-info {
            width: 83%;
            max-width: (420/16rem);
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            /* prevents padding from affecting the height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;

            &:before {
                /* background-color */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                opacity: 0.8;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
                transition:
                    background-color 0.3s,
                    opacity 0.3s;
            }
        }

        .cs-date {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (20/16rem) 0;
            color: #bababa;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            transition: color 0.3s;
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
            transition: filter 0.3s;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (12/16rem) 0;
            color: #fff;
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (20/16rem) 0;
            color: #f7f7f7;
            display: block;
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: var(--primary);
            display: inline-block;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }

            &:before {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: background-color 0.3s;
            }
        }
    }
}

/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
    #blog-985 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (48/16rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-picture {
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #blog-985 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #blog-985 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

                                                            

                                
                                                               