/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0rem) {
    // Website colors
    :root {
        
        --primary: #B22234;           /* Deep Red - inspired by the American flag */
        --primaryLight: #DC4C4C;      /* Lighter red tone for hover/focus */
        --secondary: #3C3B6E;         /* Navy Blue - flag-inspired, strong and clean */
        --secondaryLight2: #A6B1D0;   /* Soft desaturated blue for light accents/backgrounds */
        --headerColor: #1A1A1A;       /* Almost-black for strong header contrast */
        --bodyTextColor: #2E2E2E;     /* Deep gray for body text (ADA accessible) */
        --bodyTextColorWhite: #ffffff; /* Unchanged – for text on dark backgrounds *
        

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        display: block;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        font-weight: 700;
        color: var(--primary);
        text-align: inherit;
    }

    .cs-title {
        position: relative;
        margin: 0 0 1rem 0;
        max-width: 43.75rem;
        font-size: var(--headerFontSize);
        line-height: 1.2em;
        font-weight: 900;
        color: var(--headerColor);
        text-align: inherit;
    }

    .cs-text {
        margin: 0;
        max-width: 40.625rem;
        width: 100%;
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        text-align: inherit;
    }

    .cs-button-solid {
        text-align: center;
        font-size: (16/16rem);
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        width: (180/16rem);
        text-decoration: none;
        font-weight: 700;
        margin: 0;
        color: #fff;
        padding: 0;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;

        &:before {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 0%;
            background: #fff;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }

        &:hover {
            color: #1a1a1a;
            &:before {
                width: 100%;
            }
        }
    }

    .cs-button-transparent {
        font-size: (16/16rem);
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        width: (180/16rem);
        /* 46px - 56px */
        height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        margin: 0;
        color: #fff;
        padding: 0;
        background-color: transparent;
        border: 1px solid var(--bodyTextColorWhite);
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition: color / 3s;

        &:before {
            content: "";
            position: absolute;
            display: block;
            background: #fff;
            opacity: 1;
            /* so it sits on top of the border */
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            z-index: -1;
            transform-origin: left;
            /* this is what creates the grow affect on hover */
            transform: scaleX(0);
            transition: transform 0.3s;
        }

        &:hover {
            color: #1a1a1a;
            &:before {
                transform: scaleX(1);
            }
        }
    }

    .cs-hide-on-mobile {
        display: none;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .cs-hide-on-mobile {
        display: block;
    }

    .cs-hide-on-desktop {
        display: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
    body,
    html {
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 100%;
        color: var(--bodyTextColor);
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        position: relative;
        margin: auto;
        width: 92%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
    }

    p,
    li,
    a {
        margin: 0;
        font-size: (16/16rem);
        line-height: 1.5em;
    }

    p,
    li {
        color: #353535;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        z-index: -1111111;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    // Grab your fonts to locally host from https://google-webfonts-helper.herokuapp.com/fonts

    /* roboto-regular - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 400;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* roboto-700 - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 700;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
    /* roboto-900 - latin */
    @font-face {
        font-style: normal;
        font-family: "Roboto";
        font-weight: 900;
        font-display: swap;
        src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
            /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
    body,
    html {
        font-size: 0.55vw;
    }
}

/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body {
        &.dark-mode {
            #dark-mode-toggle {
                .cs-sun {
                    opacity: 1;
                    transform: translate(-50%, -50%);
                }

                .cs-moon {
                    opacity: 0;
                    transform: translate(-50%, -150%);
                }
            }
        }
    }

    #dark-mode-toggle {
        width: (48/16rem);
        height: (48/16rem);
        padding: 0;
        background: transparent;
        border: none;
        display: block;
        position: absolute;
        right: (76/16rem);
        bottom: (16/16rem);
        z-index: 1000;
        overflow: hidden;

        img,
        svg {
            width: (20/16rem);
            height: (20/16rem);
            //center image inside button
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        .cs-moon {
            z-index: 2;
            // Transition properties
            transition: transform 0.3s, opacity 0.3s, fill 0.3s;
            fill: #1a1a1a;
        }

        .cs-sun {
            opacity: 0;
            z-index: 1;
            // Transition property
            transform: translate(-50%, 100%);
            transition: transform 0.3s, opacity 0.3s;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
        margin: 0;
        position: relative;
        right: auto;
        bottom: auto;
        transform: none;

        &:hover {
            cursor: pointer;
        }
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-0.5rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-0.7rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    body {
        &.cs-open {
            overflow: hidden;

            #cs-navigation {
                .cs-toggle {
                    &:before {
                        opacity: 0.3;
                        top: 0px;
                        left: -2px;
                    }

                    &:after {
                        opacity: 0.3;
                        right: -5px;
                        bottom: -5px;
                    }
                }
            }
        }

        &.scroll {
            #cs-navigation {
                &:before {
                    height: 100%;
                }

                .cs-top-bar {
                    height: 0;
                }

                .cs-top-link {
                    opacity: 0;
                }
            }
        }
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        background-color: #fff;
        position: fixed;
        z-index: 10000;

        &:before {
            /* on scroll background */
            content: "";
            width: 100%;
            height: 0%;
            background-color: rgba(0, 0, 0, 0.5);
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: -1;
            transition: height 0.4s;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
        }

        &.cs-active {
            &:before {
                height: 150vh;
            }

            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleY(1);
                transition-delay: 0.15s;
            }

            .cs-li {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .cs-top-bar {
            width: 100%;
            height: (53/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: height 0.3s;

            &:before {
                /* divider line */
                content: "";
                width: 100%;
                height: 1px;
                background: #000;
                opacity: 0.1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: background-color 0.3s;
            }
        }

        .cs-top-container {
            width: 100%;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: (16/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (50/16rem);
        }

        .cs-top-contact {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-top-link {
            font-size: (14/16rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            transition: opacity 0.3s, color 0.3s;
        }

        .cs-link-icon {
            width: (16/16rem);
            height: auto;
            display: block;
        }

        .cs-container {
            width: 100%;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: (16/16rem);
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .cs-logo {
            width: (209/16rem);
            height: auto;
            margin: 0 auto 0 0;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 10;
            transform-style: preserve-3d;
            perspective: 500px;

            img {
                width: 100%;
                height: auto;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-dark {
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            transition: opacity 0.3s, transform 0.6s;
        }

        .cs-light {
            width: 100%;
            opacity: 0;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: rotateX(180deg);
            transition: opacity 0.3s, transform 0.6s;
        }

        .cs-top-logo {
            display: none;
        }

        .cs-toggle {
            width: (48/16rem);
            height: (48/16rem);
            margin: 0 0 0 auto;
            background-color: var(--primary);
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:before {
                /* floating bubble when opened */
                content: "";
                width: 70%;
                height: 70%;
                opacity: 0;
                border: 1px solid #000;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 4px;
                left: 4px;
                z-index: -1;
                transition: left 0.6s, top 0.3s, opacity 0.6s;
                transition-delay: 0.2s;
                animation-name: floatAnimation;
                animation-duration: 7s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }

            &:after {
                /* floating bubble when opened */
                content: "";
                width: 50%;
                height: 50%;
                opacity: 0;
                border: 1px solid #000;
                border-radius: 50%;
                display: block;
                position: absolute;
                right: 4px;
                bottom: 4px;
                z-index: -1;
                transition: bottom 0.6s, right 0.3s, opacity 0.6s;
                transition-delay: 0.3s;
                animation-name: floatAnimation2;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                transform-origin: center;
            }

            .cs-line3 {
                opacity: 0;
                bottom: 100%;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            height: (16/16rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            background-color: #fafbfc;
            border-radius: 2px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transition: transform 0.5s, top 0.3s, left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
            transform-origin: center;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: top 0.3s, left 0.3s, transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        .cs-line3 {
            bottom: 0;
            transition: bottom 0.3s, opacity 0.3s;
        }

        .cs-ul-wrapper {
            width: 100%;
            height: auto;
            padding-bottom: (48/16rem);
            background-color: #fff;
            box-shadow: inset rgba(0, 0, 0, 0.05) 0px 8px 24px;
            opacity: 0;
            border-radius: 0 0 (20/16rem) (20/16rem);
            position: absolute;
            top: 100%;
            left: 0;
            z-index: -1;
            overflow: hidden;
            transform: scaleY(0);
            transition: transform 0.4s, opacity 0.3s;
            transform-origin: top;
        }

        .cs-ul {
            width: 100%;
            height: auto;
            max-height: 65vh;
            margin: 0;
            padding: (48/16rem) 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: (20/16rem);
            overflow: scroll;
        }

        .cs-li {
            text-align: center;
            list-style: none;
            width: 100%;
            margin-right: 0;
            opacity: 0;
            /* transition from these values */
            transform: translateY(-4.375rem);
            transition: transform 0.6s, opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: inline-block;
            position: relative;

            &.cs-active {
                color: var(--primary);
            }

            &:hover {
                color: var(--primary);
            }
        }

        .cs-button-solid {
            display: none;
        }
    }
}

/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
    body.dark-mode {
        #cs-navigation {
            background-color: var(--dark);

            .cs-top-bar {
                &:before {
                    background-color: #fff;
                }
            }

            .cs-top-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-dark {
                opacity: 0;
                transform: rotateX(180deg);
            }

            .cs-light {
                opacity: 1;
                transform: rotateX(0deg);
            }

            .cs-toggle {
                &:before,
                &:after {
                    border-color: rgba(255, 255, 255, 0.8);
                }
            }

            .cs-ul-wrapper {
                background-color: var(--dark);
                box-shadow: inset rgba(255, 255, 255, 0.05) 0px 8px 24px;
            }

            .cs-li-link {
                color: var(--bodyTextColorWhite);

                &.cs-active {
                    color: var(--primary);
                }
            }

            .cs-link-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    #cs-navigation {
        .cs-li {
            text-align: center;
            width: 100%;
            display: block;
        }

        .cs-dropdown {
            color: var(--bodyTextColorWhite);
            position: relative;
            &.cs-active {
                .cs-drop-ul {
                    height: auto;
                    margin: (12/16rem) 0 0 0;
                    padding: (12/16rem) 0;
                    opacity: 1;
                    visibility: visible;
                }

                .cs-drop-link {
                    opacity: 1;
                }

                .cs-drop-icon {
                    transform: translateY(-50%) rotate(-90deg);
                }
            }

            .cs-li-link {
                position: relative;
                transition: opacity 0.3s;
            }
        }

        .cs-drop-icon {
            width: (24/16rem);
            height: auto;
            position: absolute;
            top: 50%;
            right: (-24/16rem);
            transform: translateY(-50%);
            /* makes it black */
            filter: grayscale(1) brightness(20%);
            transition: transform 0.2s;
        }

        .cs-drop-ul {
            width: 100%;
            height: 0;
            margin: 0;
            padding: 0;
            background-color: var(--primary);
            opacity: 0;
            display: flex;
            visibility: hidden;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
            overflow: hidden;
            transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s,
                visibility 0.3s;
        }

        .cs-drop-li {
            list-style: none;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                color: #fff;
            }
        }
    }
}

/* Dark Mode - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body.dark-mode {
        #cs-navigation {
            .cs-drop-icon {
                filter: none;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-li {
            &:hover {
                .cs-drop-icon {
                    transform: rotate(-90deg);
                }
            }
        }
        .cs-dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-drop-icon {
            width: (24/16rem);
            height: auto;
            display: inline-block;
            /* makes the white icon turn black */
            filter: grayscale(1) brightness(20%);
            transition: transform 0.3s;
        }

        .cs-drop-ul {
            min-width: (200/16rem);
            margin: 0;
            box-sizing: border-box;
            padding: 0;
            background-color: #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
            opacity: 0;
            border-bottom: 5px solid var(--primary);
            border-radius: 0 0 (10/16rem) (10/16rem);
            visibility: hidden;
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            z-index: -100;
            overflow: hidden;
            transform: scaleY(0);
            transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
            transform-origin: top;
        }

        .cs-drop-li {
            font-size: (16/16rem);
            text-decoration: none;
            list-style: none;
            width: 100%;
            height: auto;
            opacity: 0;
            display: block;
            transform: translateY(-10/16rem);
            transition: opacity 0.6s, transform 0.6s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                font-size: (16/16rem);
                line-height: 1.5em;
                text-decoration: none;
                white-space: nowrap;
                width: 100%;
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                padding: (12/16rem);
                color: var(--headerColor);
                display: block;
                transition: color 0.3s, background-color 0.3s;

                &:hover {
                    color: var(--headerColor);
                    background-color: #f7f7f7;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

/* Dark Mode - 1024px */
@media only screen and (min-width: 64rem) {
    body.dark-mode {
        #cs-navigation {
            .cs-drop-ul {
                background-color: var(--dark);
                border-color: #fff;
            }

            .cs-li {
                &.cs-dropdown {
                    &:hover {
                        .cs-li-link {
                            color: var(--bodyTextColorWhite);
                            &:hover {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    /* on scroll animations */
    body.scroll {
        #cs-navigation {
            /* translate the whole navigation UP by the exact same height as the cs-top-bar (86px) so we can get that off screen and not have a tall clunky navbar. Then we translate the cs-logo DOWN so it lowers itself to be positioned centered in the cs-container, when it's not. It's just an illusion we create */
            transform: translateY(-5.375rem);

            .cs-logo {
                transform: translateY(4.9rem);
            }
        }
    }

    #cs-navigation {
        width: 100%;
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: 0;
        background-color: #fff;
        position: fixed;
        z-index: 10000;
        transition: transform 0.3s;

        .cs-top-bar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;

            &:before {
                /* divider line */
                content: "";
                width: 100%;
                height: 1px;
                background: #000;
                opacity: 0.1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .cs-top-container {
            width: 100%;
            max-width: (1280/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: (20/16rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (50/16rem);
            position: relative;
            z-index: 1;
        }

        .cs-top-contact {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (24/16rem);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-top-link {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            transition: color 0.3s;

            &:hover {
                text-decoration: underline;
            }
        }

        .cs-link-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            /* same height as the cs-ul-wrapper */
            height: (72/16rem);
            margin: auto;
            /* prevents padding from affectin gheight */
            box-sizing: border-box;
            padding: 0 (16/16rem);
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: (24/16rem);
            position: relative;
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 18.4%;
            
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            z-index: 100;
            transform-style: preserve-3d;
            perspective: 500px;
            transition: transform 0.3s;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-dark {
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            transition: opacity 0.3s, transform 0.6s;
        }

        .cs-light {
            width: 100%;
            opacity: 0;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: rotateX(180deg);
            transition: opacity 0.3s, transform 0.6s;
        }

        .cs-bottom-logo {
            display: none;
        }

        .cs-ul-wrapper {
            /* absolutely positioned to be dead center */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-ul {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            padding: (24/16rem) 0;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 0.6vw, 1rem);
            line-height: 1.5rem;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            align-items: center;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (32/16rem);
            color: #fff;
            background-color: var(--primary);
            border-radius: (48/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #fff;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #1a1a1a;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-nav-button {
            line-height: (46/16rem);
        }
    }
}

/* Dark Mode - 1024px */
@media only screen and (min-width: 64rem) {
    body.dark-mode {
        #cs-navigation {
            background-color: var(--dark);
            .cs-light {
                opacity: 1;
                transform: rotateX(0deg);
            }

            .cs-dark {
                opacity: 0;
                transform: rotateX(180deg);
            }

            .cs-top-bar {
                &:before {
                    background-color: #fff;
                }
            }

            .cs-top-link,
            .cs-li-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-link-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-li-link {
                &.cs-active {
                    color: var(--primary);
                }
            }

            .cs-li {
                &:hover {
                    .cs-li-link {
                        color: var(--primary);
                    }
                }

                &.cs-dropdown {
                    .cs-li-link {
                        color: var(--bodyTextColorWhite);
                    }
                }
            }

            .cs-drop-icon {
                filter: none;
            }
        }
    }
}
                                
                                

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-51 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* black color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}


/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1292 {
        padding: var(--sectionPadding);
        padding-bottom: (20/16rem);
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        z-index: 10;

        .cs-container {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            column-gap: (24/16rem);
            row-gap: (36/16rem);
        }

        .cs-logo-group {
            /* takes up all the space, lets the other ul's wrap below it */
            width: 100%;
            position: relative;
        }

        .cs-logo {
            width: (197/16rem);
            height: auto;
            display: block;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
        }

        .cs-logo-img {
            width: 100%;
            height: auto;

            &.dark {
                display: none;
            }
        }
        .cs-link {
            font-size: (14/16rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        /* Navigation Links */

        .cs-nav {
            width: 45%;
            max-width: (180/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-nav-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-header {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            position: relative;
            display: block;
        }

        .cs-nav-link {
            font-size: (14/16rem);
            text-decoration: none;
            line-height: 1.5em;
            width: auto;
            color: var(--bodyTextColor);
            position: relative;
            display: inline-block;
            transition: color 0.3s;

            &:before {
                /* underline */
                content: "";
                width: 0%;
                height: (2/16rem);
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: (-2/16rem);
                left: 0;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-bottom {
            max-width: (1280/16rem);
            margin: auto;
            /* 48px - 100px */
            margin-top: clamp(3rem, 9vw, 6.25rem);
            /* 20px - 32px */
            padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: (36/16rem);
            row-gap: (12/16rem);
        }

        .cs-copyright,
        .cs-copyright-link {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-copyright {
            text-align: center;
            width: 100%;
        }

        .cs-copyright-link {
            text-decoration: none;
            transition: color 0.3s;
            &:hover {
                color: var(--secondary);
            }
        }

        .cs-floater {
            width: (506/16rem);
            height: (506/16rem);
            margin-left: (550/16rem);
            border-radius: 50%;
            border: 2px solid var(--primary);
            opacity: 0.1;
            display: none;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: -1;

            &:before {
                content: "";
                width: (715/16rem);
                height: (715/16rem);
                border: 2px solid var(--primary);
                border-radius: 50%;
                opacity: 0.6;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:after {
                content: "";
                width: (963/16rem);
                height: (963/16rem);
                border: 2px solid var(--primary);
                border-radius: 50%;
                opacity: 0.3;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1292 {
        .cs-container {
            row-gap: 0;
            flex-direction: row;
            flex-wrap: nowrap;
            column-gap: (88/16rem);
            row-gap: (40/16rem);
        }

        .cs-nav {
            width: auto;
        }

        .cs-bottom {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        .cs-copyright {
            text-align: left;
            width: auto;
            margin-right: auto;
        }

        .cs-floater {
            display: block;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1292 {
        .cs-container {
            max-width: (1280/16rem);
            flex-wrap: nowrap;
            /* align everything to the right */
            justify-content: flex-end;
            column-gap: clamp(2.5rem, 6vw, 5.25rem);
        }

        .cs-logo-group {
            width: 30%;
            max-width: (387/16rem);
            /* pushes away from everything to the right */
            margin-right: auto;
        }

        .cs-text {
            width: 100%;
        }

        .cs-graphic {
            display: block;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-footer-1292 {
            .cs-text,
            .cs-link,
            .cs-nav-link,
            .cs-header,
            .cs-copyright,
            .cs-copyright-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                .cs-link-icon {
                    filter: grayscale(1) brightness(1000%);
                }
            }
        }
    }
}

                                
