---
title: "Home | Sheldon Medical Supply"
description: "Michigan's trusted source for home medical equipment. Explore our oxygen, ventilator, and sleep therapy services today."
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 1
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1800">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gym/Boxing</span>
            <h1 class="cs-title">You Can Boost Your Strength</h1>
            <p class="cs-text">
                Develop confidence, composure under pressure and the discipline needed to be a champ. This is the club you’ve been looking.
            </p>
            <a href="" class="cs-button-solid">Schedule An Appointment</a>
        </div>
        <div class="cs-video-group">
            <div class="cs-video-wrapper">
                <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
                <video loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Videos/gym.mp4" autoplay="false"></video>
                <!-- <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg" alt="body builder" width="630" height="877">
                </picture> -->
                <button class="cs-play" aria-label="click to play video">
                    <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/play-right.svg" alt="play icon" class="cs-icon" width="24" height="24" aria-hidden="true" decoding="async">
                </button>
            </div>
            <div class="cs-box">
                <img class="cs-box-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dna.svg" alt="dna icon" width="48" height="48" aria-hidden="true" decoding="async">
                <span class="cs-header">We’ve Over 26 Years of Experience</span>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1800">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Services</span>
                <h1 class="cs-title">Build Your Best Body</h1>
                <p class="cs-text">
                    An exclusive TITLE Boxing Club membership gives you full access to group fitness workouts with any of our trainers in all of our classes
                </p>
            </div>
            <a href="" class="cs-button-solid">Schedule An Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Group Workouts</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic.png">
                    <img decoding="async" loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic.png" alt="woman using resistance bands in a gym" width="413" height="320" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Personal Training</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic3.png">
                    <img decoding="async" loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic3.png" alt="muscular man lifting weights in a gym" width="413" height="320" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">Muscle Building</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png">
                    <img decoding="async" loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-pic2.png" alt="muscular man flexing his muscles in a gym" width="413" height="320" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1841">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-2.png" alt="appliance" width="364" height="375">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png" alt="appliance" width="388" height="388">
            </picture>
            <picture class="cs-floater">
                <img class="cs-floater-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/weights.svg" alt="icon" width="59" height="48">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">What Services You Can Get From Us</h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Kick Boxing</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Personal Training</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Body Builder</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Group Workout</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Muscle Building</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Quote                     -->
<!-- ============================================ -->

<section id="quote-2138">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/bride.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/bride.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/bride.png" alt="wedding bride" width="525" height="757">
            </picture>
            <!--Color Wheel-->
            <img class="cs-wheel" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/color-wheel.png" alt="color wheel" width="572" height="572" aria-hidden="true">
        </div>
        <div class="cs-content">
            <p class="cs-review">
                "We're not just photographers, we're dream weavers, transforming your visions into tangible memories you'll cherish forever."
                </p>
            <div class="cs-flex-group">
                <span class="cs-name">
                    Elisa Morgan
                </span>
                <span class="cs-job">
                    CEO of Stitchography
                </span>
            </div>
            <img class="cs-quote1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-quote.svg" alt="quote" width="98" height="82" aria-hidden="true">
        </div>
    </div>
    <!--Background Quote-->
    <img class="cs-quote2" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/beige-quote.svg" alt="quote" width="222" height="186" aria-hidden="true">
</section>
                                
                                
<!-- ============================================ -->
<!--                Meet the Team                 -->
<!-- ============================================ -->

<section id="meet-team-1788">
    <div class="cs-container">
        <!--Gallery-->
        <div class="cs-gallery">
            <div class="cs-content">
                <span class="cs-topper">Our Trainers</span>
                <h2 class="cs-title">Meet Our Expert Fitness Trainers</h2>
                <a href="" class="cs-button-solid">View Our Team Members</a>
            </div>
            <!--Picture 1-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-1.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-1.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-1.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link" aria-label="visit instagram" target="_blank">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link" aria-label="visit facebook" target="_blank">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link" aria-label="visit twitter" target="_blank">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Michael Semple</h3>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </div>
            <!--Picture 2-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Michael Semple</h3>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </div>
            <!--Picture 3-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Michael Semple</h3>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </div>
            <!--Picture 4-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-4.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-4.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-4.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Michael Semple</h3>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </div>
            <!--Picture 5-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-5.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-5.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-5.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Michael Semple</h3>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </div>
            <!--Picture 6-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-6.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-6.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-6.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Michael Semple</h3>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </div>
            <!--Picture 7-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-7.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-7.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-7.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Michael Semple</h3>
                    <span class="cs-job">Fitness Instructor</span>
                </div>
            </div>
        </div>
    </div>
</section>   

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1840">
    <div class="cs-container">
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a image instead of a video. Don't forget to remove the cs-play button!-->
            <video loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Videos/gym.mp4" autoplay="false"></video>
            <!-- <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.jpg" alt="body builder" width="630" height="877">
                </picture> -->
            <button class="cs-play" aria-label="click to play video">
                <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/play-right.svg" alt="play icon" class="cs-icon" width="24" height="24" aria-hidden="true" decoding="async">
            </button>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">We Are Pushing The Limit Of Your Core Strength</h2>
            <p class="cs-text">
                We understand that your lifestyle changes, that’s why we’ve made fitness straightforward and stress free. Join today on a no lock-in contract membership and start achieving your fitness goals. We value flexibility at Jetts, with unlimited 24/7 access.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    22,000 square feet Gym
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    State of the Art Equipment
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Series Results Based on Training
                </li>
                <li class="cs-li">
                    <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/orange-check.svg" alt="checkmark" width="20" height="20">
                    Programs for weight loss
                </li>
            </ul>
            <a class="cs-button-solid" href="">Enroll Now</a>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-service-3.png" alt="people" width="608" height="406">
            </picture>
        </div>
    </div>
    <!--White Splash Graphic-->
    <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/f7-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
    <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async">
    <script>
        function togglePlayButton() {
        // Select all elements with the .cs-picture class
        const pictures = document.querySelectorAll('#why-choose-1840 .cs-video-wrapper');

        // Add a click event listener to each .cs-picture element
        pictures.forEach(picture => {
            picture.addEventListener('click', () => {
                // Select all elements with the .cs-play class
                const playButtons = document.querySelectorAll('#why-choose-1840 .cs-play');

                // Toggle the .cs-hide class on each .cs-play element
                playButtons.forEach(button => {
                    button.classList.toggle('cs-hide');
                });
            });
        });
    }

    // Call the function to activate the event listeners
    togglePlayButton();

    function toggleVideoPlayback() {
        // Select the video element
        const video = document.querySelector('#why-choose-1840 video');

        // Add a click event listener to the video
        video.addEventListener('click', () => {
            // Check if the video is paused
            if (video.paused) {
                video.play(); // Play the video if it is paused
            } else {
                video.pause(); // Pause the video if it is playing
            }
        });
    }

    // Call the function to activate the event listener
    toggleVideoPlayback();
                                
    </script>
</section>
                               
<!-- ============================================ -->
<!--                     Blog                     -->
<!-- ============================================ -->

<section id="blog-1736">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Blog</span>
            <h2 class="cs-title">Our Recent Post</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-2.png">
                    <source media="(min-width: 602px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-2.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">Dec<br>04</span>
                <div class="cs-info">
                    <span class="cs-time">
                        9.00AM - 12.00PM
                    </span>
                    <h3 class="cs-h3">My journey of champion ship in weight lifting</h3>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-4.png">
                    <source media="(min-width: 602px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-4.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-4.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">Nov<br>16</span>
                <div class="cs-info">
                    <span class="cs-time">
                        9.00AM - 12.00PM
                    </span>
                    <h3 class="cs-h3">My journey of champion ship in weight lifting</h3>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-5.png">
                    <source media="(min-width: 602px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-5.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-faq-5.png" alt="people" width="305" height="180">
                </picture>
                <span class="cs-date">Nov<br>08</span>
                <div class="cs-info">
                    <span class="cs-time">
                        9.00AM - 12.00PM
                    </span>
                    <h3 class="cs-h3">My journey of champion ship in weight lifting</h3>
                    <a href="" class="cs-link">
                        Read More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
        <ul class="cs-stat-group">
            <li class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-calendar.svg" alt="calendar" height="32" width="32" loading="lazy" decoding="async">
                </picture>
                <div class="cs-flex">
                    <span class="cs-number">04</span>
                    <span class="cs-label">Day Trips</span>
                </div>
            </li>
            <li class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-pin.svg" alt="pin" height="32" width="32" loading="lazy" decoding="async">
                </picture>
                <div class="cs-flex">
                    <span class="cs-number">02</span>
                    <span class="cs-label">Guides</span>
                </div>
            </li>
            <li class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-profile.svg" alt="profile" height="32" width="32" loading="lazy" decoding="async">
                </picture>
                <div class="cs-flex">
                    <span class="cs-number">20</span>
                    <span class="cs-label">People Group</span>
                </div>
            </li>
            <li class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-location.svg" alt="location" height="32" width="32" loading="lazy" decoding="async">
                </picture>
                <div class="cs-flex">
                    <span class="cs-number">35</span>
                    <span class="cs-label">Miles Per Day</span>
                </div>
            </li>
        </ul>
    </div>
    <!--This SVG is #f7f7f7, so for a better transition to the next section, make the section below this one have a background-color of #f7f7f7 as well and it will look like the graphic is top of the section below it and look like one big graphic.-->
    <img class="cs-graphic cs-light" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/grey-splatter.svg" alt="background" height="1920" width="468" loading="lazy" decoding="async">
    <!--This is a dark version. Download the svg and change the fill color to match the color of the section background below it-->
    <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter.svg" alt="background" height="1920" width="468" loading="lazy" decoding="async">
</section>
                                

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-64">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">John Doe</span>
                <span class="cs-desc">Texas</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Jane Smith</span>
                <span class="cs-desc">California</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Thomas Madden</span>
                <span class="cs-desc">Texas</span>
                <p class="cs-item-text">
                    Proin massa eros, quis fringilla sagittis. Euismod scelerisque varius sed nec consequat, turpis.
                </p>
            </li>
        </ul>
        <a aria-label="read more reviews" href="" class="cs-button-solid">Read More</a>
    </div>
</section>
                                
 

                                
                                

                                
    {% include 'components/cta.html' %}
{% endblock %}